In [1]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [2]:
#importar dados
dataset = pd.read_csv("transito.csv", sep=";")
#visulizar
dataset.head()

,data,hora,natureza_acidente,situacao,bairro,tipo,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,vitimasfatais
0,01/01/2016,"00,58,00",SEM V�TIMA,FINALIZADA,IPUTINGA,COLIS�O,1,0,0,0,0,0,1,0,0,0,0
1,01/01/2016,"01,23,00",SEM V�TIMA,FINALIZADA,BOA VIAGEM,COLIS�O,2,0,0,0,0,0,0,0,0,0,0
2,01/01/2016,"01,42,00",SEM V�TIMA,CANCELADA,JORDAO,COLIS�O,2,0,0,0,0,0,0,0,0,0,0
3,01/01/2016,"03,08,00",SEM V�TIMA,FINALIZADA,IBURA,COLIS�O,2,0,0,0,0,0,0,0,0,0,0
4,01/01/2016,"05,34,00",COM V�TIMA,CANCELADA,PAISSANDU,CHOQUE,0,1,0,0,0,0,0,0,0,1,0

In [3]:
#tamanho
dataset.shape

(50585, 17)

In [4]:
#explorar dados categoricos
#natureza_acidente
dataset.groupby(['natureza_acidente']).size()

natureza_acidente
APOIO                  1
COM VÍTIMA          8178
COM V�TIMA          2146
ENTRADA E SAÍDA        1
SEM VÍTIMA         30761
SEM V�TIMA          8931
VÍTIMA FATAL         107
V�TIMA FATAL          39
dtype: int64

In [5]:
#padroniza de acordo com o dominio
dataset.loc[dataset['natureza_acidente'] ==  'COM V�TIMA', 'natureza_acidente'] = "COM VÍTIMA"
dataset.loc[dataset['natureza_acidente'] ==  'SEM V�TIMA', 'natureza_acidente'] = "SEM VÍTIMA"
dataset.loc[dataset['natureza_acidente'] ==  'V�TIMA FATAL', 'natureza_acidente'] = "VÍTIMA FATAL"
#visualiza o resultado
dataset.groupby(['natureza_acidente']).size()

natureza_acidente
APOIO                  1
COM VÍTIMA         10324
ENTRADA E SAÍDA        1
SEM VÍTIMA         39692
VÍTIMA FATAL         146
dtype: int64

In [6]:
dataset.loc[dataset['natureza_acidente'].isin( ['APOIO','ENTRADA E SAÍDA']), 'natureza_acidente'] = "SEM VÍTIMA"

In [7]:
#visualiza o resultado
dataset.groupby(['natureza_acidente']).size()

natureza_acidente
COM VÍTIMA      10324
SEM VÍTIMA      39694
VÍTIMA FATAL      146
dtype: int64

In [8]:
dataset['natureza_acidente'].isnull().sum()

421

In [9]:
dataset['natureza_acidente'].fillna('SEM VÍTIMA', inplace=True)

In [10]:
#explorar dados categoricos
#natureza_acidente
dataset.groupby(['tipo']).size()

tipo
ABALROAMENTO LONGITUDINAL     5540
ABALROAMENTO TRANSVERSAL      2798
ACID. DE PERCURSO              163
ATROPELAMENTO                 1146
ATROPELAMENTO ANIMAL            37
CAPOTAMENTO                    111
CHOQUE                         830
CHOQUE OBJETO FIXO             398
CHOQUE VEÍCULO PARADO          571
COLISAO                          7
COLIS�O                      33214
COLIS�O COM CICLISTA           727
COLIS�O FRONTAL                432
COLIS�O TRASEIRA              3920
ENGAVETAMENTO                  572
NATUREZA                         1
SANTO AMARO                      1
SUBURBIO                         1
TOMBAMENTO                     112
dtype: int64

In [11]:
dataset.loc[dataset['tipo'].isin( ['NATUREZA','SANTO AMARO', 'SUBURBIO', 'COLIS�O', 'COLISAO']), 'tipo'] = "COLISÃO"

In [12]:
dataset.loc[dataset['tipo'] == 'COLIS�O COM CICLISTA', 'tipo'] = "COLISÃO COM CICLISTA"
dataset.loc[dataset['tipo'] == 'COLIS�O FRONTAL', 'tipo'] = "COLISÃO FRONTAL"
dataset.loc[dataset['tipo'] == 'COLIS�O TRASEIRA', 'tipo'] = "COLISÃO TRASEIRA"

In [13]:
dataset['tipo'].isnull().sum()

4

In [14]:
dataset['tipo'].fillna('COLISÃO', inplace=True)

In [15]:
dataset.groupby(['tipo']).size()

tipo
ABALROAMENTO LONGITUDINAL     5540
ABALROAMENTO TRANSVERSAL      2798
ACID. DE PERCURSO              163
ATROPELAMENTO                 1146
ATROPELAMENTO ANIMAL            37
CAPOTAMENTO                    111
CHOQUE                         830
CHOQUE OBJETO FIXO             398
CHOQUE VEÍCULO PARADO          571
COLISÃO                      33228
COLISÃO COM CICLISTA           727
COLISÃO FRONTAL                432
COLISÃO TRASEIRA              3920
ENGAVETAMENTO                  572
TOMBAMENTO                     112
dtype: int64

In [16]:
dataset.groupby(['bairro']).size()

bairro
AFLITOS                 273
AFOGADOS               1972
AGUA FRIA               112
ALTO DO MANDU            29
ALTO JOSE BONIFACIO      72
                       ...
TORROES                 348
TOTO                     84
VARZEA                  885
VASCO DA GAMA           227
ZUMBI                    53
Length: 95, dtype: int64

In [17]:
#visulizar
dataset.head()

,data,hora,natureza_acidente,situacao,bairro,tipo,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,vitimasfatais
0,01/01/2016,"00,58,00",SEM VÍTIMA,FINALIZADA,IPUTINGA,COLISÃO,1,0,0,0,0,0,1,0,0,0,0
1,01/01/2016,"01,23,00",SEM VÍTIMA,FINALIZADA,BOA VIAGEM,COLISÃO,2,0,0,0,0,0,0,0,0,0,0
2,01/01/2016,"01,42,00",SEM VÍTIMA,CANCELADA,JORDAO,COLISÃO,2,0,0,0,0,0,0,0,0,0,0
3,01/01/2016,"03,08,00",SEM VÍTIMA,FINALIZADA,IBURA,COLISÃO,2,0,0,0,0,0,0,0,0,0,0
4,01/01/2016,"05,34,00",COM VÍTIMA,CANCELADA,PAISSANDU,CHOQUE,0,1,0,0,0,0,0,0,0,1,0